<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>交易</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/lib/css/bootstrap.min.css">

    <link rel="stylesheet" href="../static/css/style.css">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>

    <!-- head -->
    <header id="mk-header">

        <!--top-->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <!--1-->
                    <div class="top-bar-1">
                        <a href="">
                            <i class="glyphicon glyphicon-phone"></i>
                            <span>wechat</span>
                            <span class="caret"></span>
                            <img src="img/wechar.jpg" alt="chat">
                        </a>
                    </div>
                    <!--2-->
                    <div class="top-bar-2">
                        <i class="glyphicon glyphicon-phone"></i>
                        <span>1111111111111111111(9:00 - 22:00)</span>
                    </div>
                    <!--3-->
                    <div class="top-bar-3">
                        <a href="">demo1</a>
                        <a href="">demo2</a>
                    </div>
                    <!--4-->
                    <div class="top-bar-4">
                        <a href="#" class="btn btn-default" role="button">注册</a>
                        <a href="#" class="btn btn-default" role="button">登录</a>
                    </div>
                </div>
            </div>
        </div>
        <!--/top-->

        <!--suf-->

        <!--/suf-->
    </header>
    <!-- /head -->

    <!--轮播-->
    <section id="mk_carousel">

    </section>
    <!--/轮播-->

    <!--about me-->
    <section id="mk_about">

    </section>

    <!--/about me-->

    <!--特色-->
    <section id="mk_product">

    </section>
    <!--/特色-->

    <!--hot-->
    <section id="mk_hot">

    </section>
    <!--/hot-->

    <!--link-->
    <section id="mk_link">

    </section>
    <!--/link-->

    <!--footer-->
    <footer id="footer">
        footer
    </footer>
    <!--/footer-->





<!--footer-->
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/lib/js/bootstrap.min.js"></script>
</body>
</html>